body {
	background-image: url(images/background.jpg);
}

.container {
	border: 10px solid white;
	background-color: white;
	margin: 0 10%;
}

/* --- Intro --- */
.header {
	text-align: right;
	border: 5px #A8F0F0;
	background-color: #A8F0F0;
}

.header h2 {
	font-size: 14pt;
}

/* --- Article --- */
.article {
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	padding: 10px;
	margin: 10px 0 0 0;
	overflow: auto;
}

.article h2 {
	display: inline;
}

.article--date {
	display: inline;
	border-bottom: 2px dashed #009097;
}

/* --- Image floating to right --- */
.article--spatula {
	height: 130px;
	width: 130px;
	padding-top: 50px;
	float: right;
}

.article--cookiemonster {
	padding-top: 50px;
	float: right;
}

.article::after {
	clear: both;
	display: table;
}


/* --- Block --- */
.box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.block{
	flex-basis: 80%;
	flex-grow: 4;
	order: 2;
}

.sidebar{
	flex-basis: 20%;
	flex-grow: 1;
	margin: 10px 10px 10px 0;
	padding: 5px;
	background-color: #A8F0F0;
	border: 4px solid #009097;;
	height: 100%;
}