body {
	border: 5px solid green;
}

/* --- Intro --- */
.header {
	border: 5px solid red;
}

.header h2 {
	border: 5px solid orange;
}

/* --- Article --- */
.article {
	border: 5px solid blue;
}

.article h2 {
	display: inline;
}

.date {
	display: inline;
	border: 5px solid purple;
}
